ion-toolbar {
    position: absolute;
    width: 412px;
    height: 64px;
    text-align: center;
    color: #000;
}

ion-header {
    position: absolute;
    width: 412px;
    height: 64px;
    --ion-background-color: #fff;
}

.titulo2 {
    margin-top: -1px;
}

ion-content {
    --background: #fff;
}


.height{
    position: absolute;
    width: 95px;
    height: 65px;
    left: 48px;
    top: 177px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;

    text-align: center;
}

.weight{
    position: absolute;
    width: 95px;
    height: 65px;
    left: 158px;
    top: 177px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;

    text-align: center;
}

.age{
    position: absolute;
    width: 95px;
    height: 65px;
    left: 268px;
    top: 177px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;

    text-align: center;
}

.measure_value{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.measure_name_box {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    /* gray-1 */

    color: #7B6F72;
}

.measure_name {
    margin-top: -10px;
}

.title_box {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#000
}

.account_box {
    position: absolute;
    width: 315px;
    height: 189px;
    left: 48px;
    top: 272px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
}

.notification_box{
    position: absolute;
    width: 315px;
    height: 99px;
    left: 48px;
    top: 476px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
}

.other_box{
    position: absolute;
    width: 315px;
    height: 159px;
    left: 48px;
    top: 590px;

    background: #E3E3E3;
    /* card-shadow */

    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
}

ion-list{
    background: #E3E3E3;
}

.text1{
    margin-left: 50px;
    margin-bottom: 7px;
}

.icons {

    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    
    margin-bottom: 7px;

    color: #000;
}

.name_box {
    position: absolute;
    width: 315px;
    height: 55px;
    left: 48px;
    top: 107px;
}

.name_text{
    color: #000;
    margin-left: 60px;
}

.edit_name_box{
    position: absolute;
    width: 83px;
    height: 30px;
    left: 262px;
    margin-top: -25px;

    background: #757575;
    border-radius: 99px;

    display: flex;
    justify-content: center;
    align-items: center;
}