.pontos {    
    position: absolute;
    top: 18px;
    right:4%;
    font-size: 10px;
    --background: #cecece;
    --border-radius: 10px;
    --background-activated: #7B7B7B;
    color: black;

}

.video {
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.pull-up{
    font-weight: bold;
    font-size: 20px;    

}

.teste{
    position: absolute;
    top: 300px;
    text-align: left;
    left: 35px;
    color:#7B7B7B

}

.descricao{
    position: absolute;
    left: 30px;
    top: 250px;
    right: 30px
    
}

.description{
    font-weight: bold;
    font-size: 20px;    
    padding-top: 25px;

}

.texto{
    color:#7B6F72;
    font-size: 15px;
}

.HowTo{
    position: absolute;
    left: 30px;
    top: 540px;
    right: 30px
}

.HowTo2{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.steps{
    position: absolute;
    display: inline-block;
    color: #7B7B7B;
    right: 0px;
    top: 20px;

}

.step1{
    display:flex ;
    left: -10px;
    width:max-content;
    
}

.steptext{
    font-size: 17px;

}


.step1text{
    position: absolute;
    display: flex;
    top: 102px;
    padding-left: 60px;
    color: #999999;
    font-size: 12px;
    
}

.iconhow{
    padding-left: 5px;
    padding-right: 5px;
}

.numbers{
    color:#ec91f8;
}


.step2{
    display:flex ;
    left: -12px;
    top: 50px;
    width: auto;
}

.step2text{
    position: absolute;
    display: flex;
    top: 201px;
    padding-left: 60px;
    color: #999999;
    font-size: 12px;
}

.step3{
    display:flex ;
    left: -12px;
    top: 115px;
    width: max-content;

}

.step3text{
    position: absolute;
    display: flex;
    top: 317px;
    padding-left: 60px;
    color: #999999;
    font-size: 12px;

}

.step4{
    display:flex ;
    left: -13px;
    top: 165px;
    width: auto;

}

.step4text{
    position: absolute;
    display: flex;
    top: 417px;
    padding-left: 60px;
    color: #999999;
    font-size: 12px;

}

.material{
    top: 1100px;

}

.card2 {
    display: inline-block; 
    margin-right: 10px; 
    height:177px; 
    width:150px
}
.card1texto{    
    top:4px
    
}

.card2texto{
    top: -14px;
    text-align: center;
    font-size: 17px;
    width: 150px;

}

.card3texto{
    text-align: center;
}

.equipamento {
    position: relative;
    top: 870px;
    overflow-x: scroll; 
    white-space: nowrap;
}

.equipamento2{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.imagem{
    margin-top: 20px;
    margin-left: 40px;
    width:31px; 
    height:90px;
    
}
