<ion-header>
  <ion-button (click)="showExercises()" class="backbutton">
    <ion-icon name="close"></ion-icon>
  </ion-button> 

  <ion-button class="pontos">
    <ion-icon name="ellipsis-horizontal-outline" ></ion-icon> 
  </ion-button>

</ion-header>


<ion-content>
  <div class="video">
    <ion-img  src="../../assets/video.png"></ion-img>
  </div>

<div class="descricao">

  <p class="pull-up">Pull-Up</p>
  <ion-text style="color:#7B6F72">Easy | 390 Calories Burn</ion-text>
  <p class="description">Descriptions</p>
  <p class="texto">A pull-up is an upper-body strength exercise. The pull-up is a closed-chain movement where the body is suspended by the hands, gripping a bar or other implement at a distance typically wider than shoulder-width, and pulled up. As this Read More...</p>

</div>

<div class="HowTo">
  <p class="HowTo2">How To Do It</p>
  <ion-text class="steps">4 Steps</ion-text>


  <ion-item lines="none" class="step1">
    <p class="numbers">01</p>
    <ion-icon name="radio-button-on" color="tertiary" class="iconhow"></ion-icon>
    <ion-text class="steptext">Stand Directly Below a Pull-Up Bar</ion-text>
    

  </ion-item>
  <p class="step1text">Place your hands in an overhand grip (palms facing away from your body) with your hands slightly further than shoulder-width apart.</p>


  <ion-item lines="none" class="step2">
    <p class="numbers">02</p>
    <ion-icon name="radio-button-on" color="tertiary" class="iconhow"></ion-icon>
    <ion-text class="steptext">Lift Your Feet Up</ion-text>
  </ion-item>
  <p class="step2text">Lift your feet up so that you're hanging from the bar, and engage your core by pulling your belly button in toward your spine. Pull your shoulders back and down.</p>


  <ion-item lines="none" class="step3">
    <p class="numbers">03</p>
    <ion-icon name="radio-button-on" color="tertiary" class="iconhow"></ion-icon>
    <ion-text class="steptext">Pull Yourself Up Towards The Bar</ion-text>
   
  </ion-item>
  <p class="step3text">Engaging the muscles in your arms and back, bend your elbows and raise your upper body up toward the bar until your chin is over the bar.</p>


  <ion-item lines="none" class="step4">
    <p class="numbers">04</p>
    <ion-icon name="radio-button-on" color="tertiary" class="iconhow"></ion-icon>
    <ion-text class="steptext">Slowly Lower Yourself</ion-text>

  </ion-item>
  <p class="step4text">At the top of the movement, inhale. Then extend your elbows and lower your body back down to the starting position.</p>
</div>


<div class="equipamento">
  <p class="equipamento2">Equipment Needed</p>
  
  <ion-card class="card2">
    <ion-card-header>
      <img src="../../assets/caixa.png">
    </ion-card-header>
    <ion-card-content class="card1texto">Box (If needed)</ion-card-content>
  </ion-card>
  
  <ion-card class="card2">
    <ion-card-header>
      <img src="../../assets/pullup.png">
    </ion-card-header>
    <ion-card-content class="card2texto">Pull-Up Bar</ion-card-content>
  </ion-card>
  
  <ion-card class="card2">
    <ion-card-header>
      <img src="../../assets/agua.png" class="imagem">
    </ion-card-header>
    <ion-card-content class="card3texto">Water Bottle</ion-card-content>
  </ion-card>
</div>

</ion-content>