<ion-header>
  <ion-button (click)="showHome()" class="backbutton">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <h1 class="titulo">What Do You Want To Train?</h1>
  <div>
    <ion-card class="card1">
      <img src="../../assets/card2.png" />
      <ion-card-content>
        <h1 class="cardtitulo">Lat PullDown</h1>
        <p class="texto">
          Works the back muscles, especially the large, which are commonly
          called the "lats."
        </p>
  </ion-card-content>
  </ion-card>
  </div>
</ion-content>
